.SideBar {
  position: absolute;
  width: 150px;
  height: 935px;
  background: #191718;
}
.item {
  height: 44px;
  width: 150px;
  border-bottom: 1px solid #5C5C5C;
  &:hover {
    background-color: #5c5c5c;
  }
  p {
    width: 43px;
    height: 19px;
    padding: 14px 16px;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #ffffff;
  }
}
